* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.header {
    height: 95vh;
    width: 95%;
    background: #fff;
    border: 2px solid red;
    border-radius: 10px;
    position: relative;
    display: flex;
}

nav {
    min-width: 190px;
    height: 95vh;
    background: darkred;
    border-bottom-left-radius: 10px;
    position: relative;
}

#toggle_btn {
    display: none;
    position: absolute;
    padding: 6px;
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    top: 15px;
    left: 15px;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 600px) {
    #toggle_btn {
        display: inline-block;
    }
    #toggle_btn.active_btn {
        left: 210px;
    }
    nav {
        display: none;
    }
    nav.active_nav {
        display: block;
    }
}

.header nav ul li a.home {
    color: #afa2a2;
}

.header nav ul li {
    display: block;
}

.header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    margin-left: 20px;
    padding-top: 20px;
}

.header nav ul {
    position: relative;
    top: 30%;
}

.imgtext {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.content .imgtext img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}